* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --main-blue-color: rgb(59, 85, 161);
  --primary-gray-color: rgb(76, 88, 118);
  --light-gray-purple-color:rgb(91,97,138);
  --dark-blue: rgb(46, 66, 125);
  --header-color: rgb(75, 82, 96);
  --secondary-background-color: rgb(235, 238, 245);
  --secondary-background-color-hover: rgba(235, 238, 245, .5);
  --pink-accent-color: rgb(226, 89, 89);
  --pink-accent-color-hover: rgba(226, 89, 89, 1);
  --font-size-default: 16px;
  --font-weight-default: 300;
  --font-weight-semi-bold: 500;
  --font-weight-bold: 600;
  --transition-default: all .15s ease;
  --transition-link-hover: all .10s ease-in-out;
  --transform-default: translateY(-1px);

}

html,
body {

  position: relative;
  height: auto;
  min-height: 100%;
  padding: 0;
  margin: 0;
  color: var(--primary-gray-color);
  font-family: "Raleway", sans-serif;
  font-size: var(--font-size-default);
  font-weight: 300;
  line-height: 20px;
  max-width: 100%;
  overflow-x: hidden;
  /* max-width: */
}

h1, h2, h3 {
  color: var(--primary-gray-color);
  padding-bottom: 2rem;
}

a {
  color: par(--primary-gray-color);
  text-decoration: none;
}

.title {
  color: var(--main-blue-color);
}

.background-2 {
  background-color: var(--primary-gray-color);
}

/* LAYOUT */

.center-column {
  max-width: 800px;
  margin: 0 auto;
}

/* SECTIONS */

.section {
  overflow: hidden;
  width: 100%;
  min-height: calc(100vh - 3rem);
  padding: 4rem 1.5rem;
  position: relative;
}


.section:nth-child(even) {
  background-color: var(--secondary-background-color);
}

/* NAV */

.nav {
  z-index: 1;
  width: 100%;
  /* margin: 75px 0; */
  font-size: 1.2rem;
  grid-column-start: 3;
  grid-row-start: -1;
  position: absolute;
  top: 80vh;
  user-select: none;
}

.nav-inner {
  display: flex;
  max-width: 800px;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;
  /* background-color: rgba(249, 249, 249, 1); */

}


.nav .title {
  display: none;
  flex-shrink: 0;
  color: var(--dark-blue)
}

.nav-page-link {
  cursor: pointer;
  overflow: hidden;
  margin: 1.5rem;
  /* padding: 20px; */
  background-color:rgba(255, 255, 255);
  color: var(--primary-gray-color);
  font-size: 1.5rem;
  font-weight: var(--font-weight-semi-bold);
  white-space: nowrap;
  display: inline-block;
  line-height: 40px;
  padding: 0 14px;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  /* color: #3185FC; */
  color: var(--main-blue-color);
  /* transition: var(--default-transition) */
}

.nav:not(.nav--sticky) .nav-page-link {
  /* background-color: rgba(249, 249, 249, 1); */
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);

}
.nav:not(.nav--sticky) .nav-page-link:hover {
  transform: var(--transform-default);
}

.nav-page-link:hover {
  /* transition: var(--transition-link-hover); */
  color: var(--pink-accent-color-hover)
}

/* NAV STICKY */

.nav--sticky {
  position: fixed;
  top: initial;
  z-index: 1;
  margin-top: 0;
  background-color: white;
  box-shadow: 1px 1px 1px rgba(46, 66, 125, .3);
  font-size: 1rem;
  line-height: 3rem;
}


.nav--sticky .title {
  display: block;
  flex-grow: 1;
  font-size: 1.5rem;
  align-self: center;
  color: var(--main-blue-color);
  font-weight: var(--font-weight-bold);
}
.nav--sticky .nav-page-link {
  border-bottom: 3px solid white;
  font-size: 1rem;
  padding: 0 1.5rem;
  margin: 0;
}

.nav--sticky .nav-page-link:hover {
  border-bottom: 3px solid rgba(226, 89, 89, .3);
}
.active:not(.title).nav-page-link {
  border-bottom: 3px solid  rgb(226, 89, 89);
  transition: var(--transition-link-hover);
  /* font-weight: var(--font-weight-bold); */
  color: var(--pink-accent-color)
}

.menu-toggle {
  display: none;
}

/* WELCOME SECTION */

.welcome-section {
  display: grid;
  min-height: 100vh;
  pointer-events: none;
  user-select: none;
  grid-gap: 5px;
  grid-template-columns: 1fr minmax(250px, 500px) 1fr;
  grid-template-rows: minMax(50px, 100px) 1fr minmax(50px, 150px);

}

.welcome-section > .title {
  /* text-align: end; */
  line-height: initial;
  padding-left: 2rem;
  font-size: 3rem;
  grid-column: 1 / 3;
  font-weight: var(--font-weight-semi-bold);
  grid-row: 1;
}

.welcome-section .content-inner {
  display: grid;
  margin: auto;
  align-items: flex-end;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  grid-gap: 30px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 50px;

}
/* .hero-content {
  display: flex;
  width: 400px;
  height: 400px;
  margin-top: 125px;
  border-radius: 1rem;
  grid-column-start: 3;
  grid-row-start: 3;
} */

#hero-img {
  position: relative;
  display: block;
  overflow: hidden;
  max-width: 55%;
  margin: 0 auto;
  grid-column: 1 ;
  grid-row: 1 / 2;

  /* height: calc(100vh - 23rem); */
  /* border: 5px solid rgba(90, 97, 117, .5); */
  border: 3px solid hsl(225, 23%, 87%);
  border-radius: 100%;

}

h2.hero-subtitle{
  /* grid-column-start: 2;
  grid-row-start: 2; */
  color: var(--main-blue-color);
  text-align: center;
  grid-column: 1;
  grid-row: 2;
}

#particles-js {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

/* PROJECTS */

.projects-box {
  max-width: 800px;

  /* margin: auto; */
  margin-bottom: 3rem;
}

/* .project-container {
  display: flex;
  flex-direction: row;
} */

figure {
  /* display: inline-block; */
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 6px;
  position: relative;
  overflow: hidden;
  /* margin: 0; */
  /* background: white; */
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(170, 167, 170, .2);
}

figcaption {
  border-radius: 4px;
  margin:6px;
  padding: 1.4rem 1.2rem;
  background: white;
  height: 100%;

}

figcaption > h2 {
  padding: 10px 0;
}

figcaption > p {
  padding: 10px 0;
}

/* figure .img-container {
  margin: 6px;
} */

figure img {
  /* max-width: 100%; */
  /* border: none; */
  background: white;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(170, 167, 170, .2);
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* display: block; */
  cursor: pointer;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  vertical-align: middle;
}


figure img:hover {
  overflow: hidden;
  transform: var(--transform-default);
  box-shadow: 1px 1px 5px rgba(170, 167, 170, .4)

}

.item-parent {
  display: grid;
  /* padding: 15px; */
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  /* grid-template-columns: minmax(50px, 400px) minmax(50px, 400px); */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.item {
  border-radius: 4px;
  color: rgba(68, 73, 88, 1);
  background: white;
}

.project-links {
  display: flex;
  flex-wrap: wrap;
  padding: 6px 0;
}

.project-links a {
  padding: 0 10px;
}

.project-links img {
  box-shadow: unset;
}

.project-links img:hover {
  box-shadow: unset;
}

/* ABOUT */

/* .about {
  position: absolute;
  margin: -1em;
  background-color: rgba(90, 97, 117, .1);
  font-size: 4rem;
} */

.about-content {
  max-width: 800px;
  margin: auto;
}

.about-content span {
  line-height: 20px;
}

.about-section h3 {
  padding-top: 2em;
}

.about-section .icons-grid {
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(70px, 1fr));
}
.icon-img-container {
  padding: .5rem;
  display: flex;
  flex: 1;
  position: relative;

}
.icon-img-container img {
  display: inline-block;
  position: relative;
    align-items: center;
  justify-content: center;
  width: 100%;
}

/* * {
  box-sizing: border-box;
} */
.icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-text-container {
    background: white;
    position: absolute;
    opacity: 0;
    flex: 1;
    width: 100%;
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    transition: all linear 0.1s;
  }
.icon:hover .icon-text-container {
  text-shadow: 0em 0em 0.2em rgba(255, 255, 255, 1);
  background: rgba(255,255,255,0.7);
  opacity: 1;
}


.about-section .icon {
  border: 1px yellow solid;
  color: var(--dark-blue);
  font-size: 60px;
}

.icon-img p{
  position: absolute;
}
.icon-img:hover {
  visibility: initial;

}

/* .about-section .interests {
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
} */

/* .about-section .interests-item:not(:last-child) {
  padding-right: 25px;
} */
/*
.about-section .interests-item {
  padding-right: 25px;
} */

/* CONTACT */

/* .contact-section h2 {
  margin: 2rem 0 2rem 0;
  font-size: 1.5rem;
  text-align: center;
} */

.contact-links {
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 1rem;
}

/* #github a:hover path {
  fill: #0000;
} */

.contact-links a:hover {
 transform: var(--transform-default);
}
.contact-links a:hover path {
  fill: var(--pink-accent-color-hover);
}

.contact-links path {
  fill: var(--primary-gray-color);
}

.contact-links a {
  display: inline-flex;
  flex-basis: auto;
  padding: 8px;
  margin: 8px;
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(170, 167, 170, .2);
  text-decoration: none;
}

.contact-links a:not(:last-child) {
  margin-right: 1rem;
}

/* FOOTER */
/* footer-container {
  position: relative;
  width: 100%;
  height: 0;
} */

footer {
  position: absolute;
  bottom: 0;
  height:40px;
  left: 0;
  width: 100%;
  background-color: var(--dark-blue);
  color: white;
}


.footer > .center-column {
  justify-content: center;
  padding: .5rem;
  text-align: center;
}

/*MEDIA QUERIES */

/* @media screen and (min-width: 450px) {
  .item {
    flex-basis: 33%;
    max-width: 50%;
  }
} */

@media screen and (max-width: 767px) {

  .section {
    min-height: calc(100vh - 4rem);

  }

  /* Nav Section*/

  /* .nav {
  display: flex;
  align-items: center;
  } */
  .menu-toggle {
    display: inline;
    position: absolute;
    top: 0;
    right: 10px;
    vertical-align: center;
    padding: 0px 10px;
  }
  .menu-toggle > svg {
    vertical-align: middle;
  }

  .nav:not(.nav--sticky) {
    display: none;
  }
  .nav .nav-inner {
    flex-wrap: nowrap;
    flex-grow: 1;
    /* margin: 0 1.2rem 0 1.2rem; */
    font-size: 1.4rem;
  }

  .nav-page-link {
    overflow: hidden;
    margin: auto;
    padding: 0 .5rem;
    text-align: center;
    /* text-decoration none; */
  }

  /* Sticky Nav*/

  .nav.nav--sticky {
    line-height: 4rem;
  }

  .nav.nav--sticky .title {
    padding: 0 1rem;
  }

  .nav--sticky .nav-page-link {
    flex-basis: 100%;
    padding: 0;
  }

  .nav--sticky[aria-expanded="false"] .nav-page-link {
    display: none;
  }

  [aria-expanded="true"] .nav-page-link {
    display: block;
    text-align: center;
  }

  .nav.nav--sticky .nav-inner {
    flex-wrap: wrap;
    margin: 0;
  }

  /*TOP SECTION*/
  .welcome-section {
    min-height: 100vh;
  }
  .welcome-section {
    display: flex;
    align-items: center

    /* display: grid;
    grid-gap: 5px;
        .welcome-section {

    grid-template-columns: 1px 1fr 1px;
    grid-template-rows: 1px 100px minmax(150px, 275px) .5fr .5fr; */
  }
  .content-inner {
    margin: initial;
    grid-template-rows: 1fr 1fr;
  }

  .welcome-section > .title {
    display: none;
    /* grid-row: 1 / 3; */
    /* position: inherit;
    padding-top: 50px;
    font-size: 3rem;
    grid-column-start: 2;
    grid-row: 2 / 3;
    position: absolute;
    top: 0;
    left: 1rem;
    margin: auto;
    font-size: 3rem; */
  }

  #hero-img {
    /* position: relative;
    display: block;
    overflow: hidden;
    max-width: 60%;
    border-radius: 100%;
    grid-column: 2 / 2;
    grid-row: 3 / 4; */
  }

  .hero-h2 {
    /* padding: 30px;
    grid-column-start: 2;
    grid-row-start: 4; */
  }

  .nav {
    z-index: 1;
    width: 100%;
    font-size: 1.2rem;
    grid-column-end: -1;
    grid-column-start: 1;
    grid-row-start: -2;
  }

  /*PROJECTS*/

  /* About */
  .about-section h3 {
    padding-top: 1em;
  }

  .about-section .icons-grid {
    display: grid;
    grid-column-gap: .5em;
    grid-row-gap: .5em;
    grid-template-columns: repeat(4, minmax(40px, 1fr));
    grid-template-rows: repeat(4, minmax(40px, 1fr));
  }

  .about-section .icon {
    padding: 3px;
    color: var(--dark-blue);
    font-size: 40px;
  }
}
/*
@media only screen and (min-width: 767px) and (max-width: 900px) {
  .welcome-section {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1px 1fr minmax(250px, 500px) 1fr;
    grid-template-rows: 1px minMax(50px, 100px) 1fr minmax(250px,400px) 1fr;
  }

  .welcome-section > .title {
    margin-top: 5rem;
    font-size: 4rem;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }

  #hero-img {
    position: relative;
    display: block;
    overflow: hidden;
    max-width: 50%;
    margin: auto;
    border-radius: 100%;
    grid-column: 3 / 4;
    grid-row: 4 / 5;
  }

  .hero-h2 {
    grid-column-start: 3;
    grid-row-start: 5;
  }

  .section {
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
  }

  .nav {
    z-index: 1;
    width: 100%;
    padding-bottom: 75px 0;
    font-size: 1.2rem;
    grid-column-start: 3;
    grid-row-start: -1;
  }
} */
