* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  margin: 0px;
  padding: 0px;
  color: rgba(68, 73, 88, 1);
  font-weight: 300;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  line-height: 20px;
}

ul {
  list-style: none;
}

h1 {
  padding-bottom: 2rem;
}

/* THEME COLORS */

/* DARK-GRAY */
.color-1 {
  color: rgba(68, 73, 88, 1);
}
.background-1 {
  background-color: rgba(68, 73, 88, 1);
}

/* LIGHT-BLUE-GRAY */
.color-2 {
  color: rgba(90, 97, 117, 1);
}

.background-2 {
  background-color: rgba(90, 97, 117, 1);
}

/* YELLOW-GOLD */

.color-3 {
  color: rgba(255, 203, 115, 1);
}

.background-3 {
  background-color: rgba(255, 203, 115, 1);
}

/* ORANGE */

.color-4 {
  color: rgba(244, 125, 49, 1);
}

.background-4 {
  background-color: rgba(244, 125, 49, 1);
}

/* MUTED-YELLOW */
.color-5 {
  color: rgba(255, 222, 166, 1);
}

.background-5 {
  background-color: rgba(255, 222, 166, 1);
}

/* TEAL */

.color-6 {
  color: rgba(85, 194, 187, 1);
}

.background-6 {
  background-color: rgba(85, 194, 187, 1);
}

/* DARK BLUE */
.color-7 {
  color: rgba(46, 66, 125, 1);
}

.background-7 {
  background-color: rgba(46, 66, 125, 1);
}

/* LIGHT BLUE */
.color-8 {
  color: rgba(96, 141, 210, 1);
}

.background-8 {
  background-color: rgba(96, 141, 210, 1);
}

/* HOVER STYlES */
.lex-hoverable {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
}
.lex-hoverable:hover {
  color: rgba(90, 97, 117, 0.7);
}
.lex-hoverable:active {
  color: rgba(90, 97, 117, 0.7);
}

.active-class:not(.title) {
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(3, 8, 28, 0.1);
}

/* LAYOUT */

.center-column {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem;
}

/* SECTIONS */

.section {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.section .center-column {
  padding: 5rem 0 3rem 0;
}

.section:nth-child(even) {
  background: #fff;
}
.section:nth-child(odd) {
  /* background: #eee; */
  background-color: rgb(235, 238, 245);
}

/* HEADER */

.header {
  font-size: 1.2rem;
  width: 100%;
  z-index: 1;
  grid-row-start: -2;
  grid-column-start: 3;
}

.header-inner {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  justify-content: center;
}

.header-item {
  cursor: pointer;
  line-height: 3rem;
}

.header .title {
  display: none;
  flex-shrink: 0;
  color: rgb(46, 66, 125);
}

.lex-page-link {
  padding: 0 1em;
  overflow: hidden;
  font-weight: 400;
  color: rgba(90, 97, 117, 1);
}

.header.stuck-to-top {
  background-color: white;
  margin-top: 0;
  font-size: 1rem;
  position: fixed;
  z-index: 1;
  box-shadow: 1px 1px 1px rgba(46, 66, 125, 0.3);
}

.header.stuck-to-top .header-inner {
  justify-content: flex-end;
}

.header.stuck-to-top .title {
  margin-left: 1rem;
  display: block;
  flex-grow: 1;
  font-weight: 600;
  color: rgb(46, 66, 125);
  text-transform: uppercase;
}

.header.hamburger .header-inner {
  flex-wrap: wrap;

  /* padding: 1rem; */
}

.menu-toggle {
  position: absolute;
  display: none;
}

.header.hamburger.stuck-to-top .menu-toggle {
  display: block;
  margin-top: 5px;
  padding-right: 1rem;
}

.header.hamburger .header-inner .lex-page-link {
  flex-basis: 100%;
}

.header.hamburger.stuck-to-top .header-inner .lex-page-link {
  display: none;
}

.header.hamburger.is-open .header-inner .lex-page-link {
  display: block;
  text-align: center;
  border: solid 1px rgba(90, 97, 117, 0.2);
}

/* TOP SECTION */

.top-section {
  display: grid;
  grid-template-rows:
    1px minMax(50px, 175px) minmax(250px, 270px) minmax(50px, 200px)
    1fr;
  grid-template-columns: 1px 1fr minmax(250px, 500px) 1fr;
  grid-gap: 5px;
  background: linear-gradient(
    to bottom right,
    rgba(255, 203, 115, 1) 20%,
    rgba(255, 222, 166, 1) 100%
  );
}

.top-section-title {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  margin: 3rem 0 0 2rem;
  top: 0;
  left: 1rem;
  font-size: 4rem;
}

.hero-content {
  display: flex;
  grid-row-start: 2;
  grid-column-start: 3;
  margin-top: 125px;
  border-radius: 1rem;
  width: 400px;
  height: 400px;
}

/* .hero-image-container {
  display: flex;
  max-width: 100%;
  display: grid;
  height: calc(100vh - 23rem);
  position: relative;
} */

#hero-img {
  margin: auto;
  flex-grow: 1;
  /* height: calc(100vh - 23rem); */
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  max-width: 50%;
  display: block;
  overflow: hidden;
  border-radius: 100%;
  margin: 25px auto;
  position: relative;
}

.hero-h2 {
  grid-row-start: 4;
  grid-column-start: 3;
  margin-top: 60px;
  text-align: center;
}

#particles-js {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: calc(100vw - 1rem);
}

/* .particles {
  position: relative;
  height: 100vmax;
} */

/* PROJECTS */

.projects-box {
  max-width: 800px;
  /* margin: auto; */
  margin-bottom: 3rem;
}
/* .project-container {
  display: flex;
  flex-direction: row;
} */

.project-logo {
  background: #ffffff;
  max-width: 400px;
}

.project-logo {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

figure {
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(170, 167, 170, 0.2);
  margin: 0;
  overflow: hidden;
  /* display: inline-block; */
  position: relative;
}

/* figure div {
  background: orange;
  height: 200px;
  width: 500px;
  margin: -100px;

  transform: translate(-200px, -100px) rotate(-20deg);
} */

figcaption {
  padding: 1rem 1rem 0 1rem;
  margin-top: 3px;
  white-space: pre-line;
}



figure img {
  border: none;
  max-width: 100%;
  /* width: 100%; */
  /* display: block; */
  background: #ffff;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  vertical-align: middle;
}

figure img:hover {
  overflow: hidden;
  -webkit-transform: scale(1.1); /* Safari and Chrome */
  -moz-transform: scale(1); /* Firefox */
  -ms-transform: scale(1.1); /* IE 9 */
  -o-transform: scale(1.1); /* Opera */
  transform: scale(1.1);
}

.item-parent {
  display: grid;
  grid-template-rows: repeat(autofill, minMax(200px, 1fr));
  grid-template-columns: minmax(150px, 400px) minmax(150px, 400px);
  grid-row-gap: 3em;
  grid-column-gap: 3em;
  padding: 15px;
}

.item {
  /* margin-bottom: 8px; */
  /* flex-basis: 300px;
  flex-grow: 3; */
  /* text-decoration: none; */
  color: rgba(68, 73, 88, 1);
  /* padding: 1rem; */
  /* background: white; */
}

.project-links {
  display: grid;
  grid-template-columns: repeat(auto-fill, 4rem);

}

.project-links a {
  padding: 0 10px;
}

/* ABOUT */

.about {
  background-color: rgba(90, 97, 117, 0.1);
  position: absolute;
  margin: -1em;
  font-size: 4rem;
}

.about-content {
  max-width: 800px;
  margin: auto;
}

.about-content span {
  line-height: 20px;
}

.about-section h3 {
  padding-top: 2em;
}

.about-section .icons-grid {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(60px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  */: 15px;
}

.about-section .icon {
  font-size: 60px;
  color: #daa25a;
  padding: 3px;
}

.about-section .interests {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column-gap: 15px;
}

/* .about-section .interests-item:not(:last-child) {
  padding-right: 25px;
} */

.about-section .interests-item {
  padding-right: 25px;
}

/* CONTACT */
.contact-section .center-column {
}

.contact-section .center-column h1 {
}

.contact-section h2 {
  font-size: 1.5rem;
  margin: 2rem 0rem 2rem 0rem;
  text-align: center;
}

.contact-links {
  display: flex;
  max-width: 600px;
  margin: auto;
  justify-content: center;
  margin-top: 1rem;
  flex-wrap: wrap;
}

/* #github a:hover path {
  fill: #0000;
} */

.contact-links a:hover path {
  opacity: 0.8;
}

.contact-links a {
  display: inline-flex;
  flex-basis: auto;
  padding: 8px;
  margin: 8px;
  background: rgba(255, 255, 255, 1);
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(170, 167, 170, 0.2);
}

.contact-links a:not(:last-child) {
  margin-right: 1rem;
}

/* FOOTER */
.footer-container {
  position: relative;
  height: 0;
  width: 100%;
}
.footer {
  color: white;
  left: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.footer .center-column {
  margin-bottom: 1rem;
  padding: 0.5rem;
  text-align: center;
  justify-content: center;
}

/*MEDIA QUERIES */

/* @media screen and (min-width: 450px) {
  .item {
    flex-basis: 33%;
    max-width: 50%;
  }
} */

@media screen and (max-width: 767px) {
  .header.hamburger .header-inner {
    flex-wrap: nowrap;
  }
  .header.hamburger .header-inner {
    flex-wrap: nowrap;
    font-size: 1.4rem;
    margin: 0 1.2rem 0 1.2rem;
  }
  .header.stuck-to-top .header-inner {
    justify-content: flex-end;
    margin: 0;
    flex-wrap: wrap;
  }
  .header.stuck-to-top .lex-page-link {
    padding: 0 1rem;
  }

  .top-section-title {
    position: absolute;
    margin: auto;
    top: 0;
    left: 1rem;
    font-size: 3.5rem;
  }

  .lex-page-link {
    font-size: 1rem;
    padding: 0;
    overflow: hidden;
    font-weight: 400;
    text-align: center;
    color: rgba(90, 97, 117, 1);
  }

  .section .center-column {
    padding: 5rem 1rem 3rem 1rem;
  }

  /*TOP SECTION*/
  .top-section {
    display: grid;
    grid-template-rows: 1px 150px minmax(150px, 275px) 1fr 0.5fr;
    grid-template-columns: 1px 1fr 1px;
    grid-gap: 5px;
  }

  .top-section-title {
    grid-column-start: 2;
    grid-row: 1 / 2;
    position: inherit;
    padding-top: 5rem;
    font-size: 3.5rem;
  }

  #hero-img {
    margin: auto;

    /* height: calc(100vh - 23rem); */
    grid-row: 3 / 4;
    grid-column: 2 / 2;
    max-width: 60%;
    display: block;
    overflow: hidden;
    border-radius: 100%;
    position: relative;
  }

  .hero-h2 {
    grid-row-start: 4;
    grid-column-start: 2;
    text-align: center;
    /* margin: 1.5rem 1.2rem 0 1.2rem; */
  }

  .header {
    font-size: 1.2rem;
    width: 100%;
    z-index: 1;
    padding-bottom: 1rem;
    grid-row-start: -2;
    grid-column-start: 2;
  }

  /*PROJECTS*/

  figure img:active {
    overflow: hidden;
    -webkit-transform: scale(1.1); /* Safari and Chrome */
    -moz-transform: scale(1); /* Firefox */
    -ms-transform: scale(1.1); /* IE 9 */
    -o-transform: scale(1.1); /* Opera */
    transform: scale(1.1);
  }

  .item-parent {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* or space-around */
    display: grid;
    grid-template-rows: repeat(autofit, minMax(200px, 1fr));
    grid-template-columns: minmax(150px, 400px);
    grid-row-gap: 2em;


  }

  .item {
    /* margin-bottom: 8px; */
    /* flex-basis: 300px;
    flex-grow: 3; */
    /* text-decoration: none; */
    color: rgba(68, 73, 88, 1);
    /* padding: 1rem; */
    /* background: white; */
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .top-section {
    display: grid;
    grid-template-rows:
      1px minmax(50px, 100px) minmax(50px, 100px) minmax(250px, 270px) minmax(
        150px,
        200px
      )
      1fr 1fr;
    grid-template-columns: 1px 1fr minmax(250px, 500px) 1fr;
    grid-gap: 5px;
    background: linear-gradient(
      to bottom right,
      rgba(255, 203, 115, 1) 20%,
      rgba(255, 222, 166, 1) 100%
    );
  }

  .top-section-title {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    margin-top: 5rem;
    top: 0;
    left: 1rem;
    font-size: 4rem;
  }

  #hero-img {
    margin: auto;
    flex-grow: 1;
    /* height: calc(100vh - 23rem); */
    grid-row: 4 / 5;
    grid-column: 3 / 4;
    max-width: 50%;
    display: block;
    overflow: hidden;
    border-radius: 100%;
    margin: 25px auto;
    position: relative;
  }

  .hero-h2 {
    grid-row-start: 5;
    grid-column-start: 3;
    margin-top: 60px;
    text-align: center;
  }

  .section {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    padding: 0 2rem 0 2rem;
  }
}
