* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --main-blue-color: rgb(59, 85, 161);
  --dark-gray-color: rgb(75, 82, 96);
  --medium-gray-color: rgb(76, 88, 118);
  --lighter-gray-color: rgb(97, 100, 117);
  --dark-blue: rgb(46, 66, 125);
  --secondary-background-color: rgb(235, 238, 245);
  --secondary-background-color-hover: rgba(235, 238, 245, .5);
  --pink-accent-color: rgb(200, 90, 90);
  --pink-accent-color-hover: rgba(200, 90, 90, 1);
  --font-size-default: 16px;
  --font-family-default: "proxima-nova", Helvetica, sans-serif;
  --font-family-header: "Lato", sans-serif;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --transition-default: all .3s ease-in-out;
  --transition-link-hover: all .1s ease-in-out;
  --transform-default: translateY(-1px);
}

html,
body {
  position: relative;
  max-width: 100%;
  height: auto;
  min-height: 100%;
  padding: 0;
  margin: 0;
  color: var(--lighter-gray-color);
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-regular);
  line-height: 20px;
  line-height: 1.4rem;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  padding-bottom: 2rem;
  color: var(--medium-gray-color);
  font-family: var(--font-family-header);
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: 2rem;
}

a {
  color: var(--medium-gray-color);
  text-decoration: none;
}

.title {
  color: var(--main-blue-color);
  font-family: var(--font-family-header);
}

.background-2 {
  background-color: var(--medium-gray-color);
}

/* LAYOUT */
.center-column {
  max-width: 800px;
  margin: 0 auto;
}

/* SECTIONS */
section {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: calc(100vh - 3rem);
  padding: 4rem 1.5rem;
}

section:nth-child(even) {
  background-color: var(--secondary-background-color);
}

/* NAV */
nav {
  position: absolute;
  z-index: 1;
  top: 80vh;
  width: 100%;
  font-size: 1.2rem;
  grid-column-start: 3;
  grid-row-start: -1;
  user-select: none;
}

.nav-inner {
  display: flex;
  max-width: 832px;
  align-items: flex-end;
  justify-content: center;
  margin: 0 auto;
  font-family: var(--font-family-header);
}

nav .title {
  display: none;
  flex-shrink: 0;
  color: var(--dark-blue);
}

.nav-page-link {
  display: inline-block;
  overflow: hidden;
  padding: 0 14px;
  margin: 1.5rem;
  background-color: rgba(255, 255, 255);
  color: var(--main-blue-color);
  cursor: pointer;
  font-weight: var(--font-weight-semi-bold);
  font-weight: 600;
  letter-spacing: .025em;
  line-height: 40px;
  text-transform: uppercase;
  white-space: nowrap;
}

nav:not(.nav--sticky) .nav-page-link {
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, .11),
    0 1px 3px rgba(0, 0, 0, .08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

nav:not(.nav--sticky) .nav-page-link:hover {
  transform: var(--transform-default);
}

.nav-page-link:hover {
  color: var(--pink-accent-color-hover);
}

/* NAV STICKY */
.nav--sticky {
  position: fixed;
  z-index: 1;
  top: initial;
  margin-top: 0;
  background-color: white;
  box-shadow: 1px 1px 1px rgba(46, 66, 125, .3);
  font-size: var(--font-size-default);
  line-height: 3rem;
  transition: all .2s ease-in;
}

.nav--sticky .title {
  display: block;
  flex-grow: 1;
  padding-left: 16px;
  align-self: center;
  color: var(--main-blue-color);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
}

.nav--sticky .nav-page-link {
  padding: 0 1.5rem;
  margin: 0;
  border-bottom: 3px solid white;
  font-size: var(--font-size-default);
}

.nav--sticky .nav-page-link:focus {
  outline: none;
}

.nav--sticky .title {
  outline: none;
}

.nav--sticky .nav-page-link:hover {
  border-bottom: 3px solid rgba(200, 90, 90 .3);
}

.active:not(.title).nav-page-link {
  border-bottom: 3px solid rgb(200, 90, 90);
  color: var(--pink-accent-color);
  transition: var(--transition-link-hover);
}

.menu-toggle {
  display: none;
}

/* WELCOME SECTION */
.welcome-section {
  display: grid;
  min-height: 100vh;
  grid-gap: 5px;
  grid-template-columns: 1fr minmax(250px, 500px) 1fr;
  grid-template-rows: minMax(50px, 100px) 1fr minmax(50px, 150px);
  pointer-events: none;
  user-select: none;
}

.welcome-section > .title {
  padding: 2% 0 0 10%;
  font-size: 3rem;
  font-weight: var(--font-weight-semi-bold);
  grid-column: 1 / 3;
  grid-row: 1;
  line-height: initial;
}

.welcome-section .content-inner {
  display: grid;
  align-items: flex-end;
  margin: auto;
  grid-column: 2 / 3;
  grid-gap: 30px;
  grid-row: 2 / 3;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 50px;
}

#hero-img {
  position: relative;
  z-index: 0;
  display: block;
  overflow: hidden;
  max-height: 100%;
  margin: 0 auto;
  border-radius: 100%;
}

.hero-img-container {
  position: relative;
  display: block;
  height: 275px;
  grid-column: 1;
  grid-row: 1 / 2;
}

.hero-img-container::after {
  position: absolute;
  top: 0;
  left: 50%;
  width: 275px;
  height: 275px;
  border-radius: 100%;
  box-shadow: inset 3px 3px 5px 0 rgba(55, 55, 69, .2);
  content: "";
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

h2.hero-subtitle {
  padding-bottom: 0;
  color: var(--main-blue-color);
  grid-column: 1;
  grid-row: 2;
  text-align: center;
}

#particles-js {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

/* PROJECTS */

.projects-box {
  max-width: 800px;
  margin-bottom: 3rem;
}

figure {
  position: relative;
  display: flex;
  overflow: hidden;
  height: 100%;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(170, 167, 170, .2);
}

figcaption {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.4rem 1.2rem;
  margin: 6px;
  background: white;
  border-radius: 4px;
}

figcaption h2 {
  padding: 10px 0;
  line-height: 1.8rem;
}

figcaption p {
  padding: 8px 0;
}

figure img {
  width: 100%;
  height: 100%;
  background: white;
  max-height: 216px;
  box-shadow: 1px 1px 3px rgba(170, 167, 170, .2);
  cursor: pointer;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  vertical-align: middle;
}

figure img:hover {
  overflow: hidden;
  box-shadow: 1px 1px 5px rgba(170, 167, 170, .4);
  transform: var(--transform-default);
}

.item-parent {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.item {
  background: white;
  border-radius: 4px;
}

.project-links {
  display: flex;
  padding-top: 12px;
}

.project-links a {
  width: 50px;
}

.project-links img {
  box-shadow: unset;
}

.project-links img:hover {
  box-shadow: unset;
}

/* ABOUT */

.about-content {
  max-width: 800px;
  margin: auto;
}

.about-content p {
  margin: 1rem 0;
}

.about-section h3 {
  padding-top: 2em;
}

.about-section .icons-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 80px));
  grid-template-rows: repeat(auto-fill, minmax(40px, 80px));
}

.skills .icon-img-container {
  position: relative;
  display: flex;
  flex: 1;
  padding: 1rem;
}

.skills .icon-img-container svg {
  width: 100%;
  fill: var(--main-blue-color);
  transition: all linear .1s;
}

.skills.icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills .icon-text-container {
  position: absolute;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 2px;
  background: white;
  color: var(--main-blue-color);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-semi-bold);
  opacity: 0;
  transition: all linear .1s;
}

.skills.icon:hover .icon-text-container {
  background: rgba(255, 255, 255, .9);
  border-radius: 4px;
  opacity: 1;
  text-shadow: 0 0 .2em rgb(255, 255, 255);
}

/* CONTACT SECTION */
.contact-links {
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 1rem;
}

.contact-links a:hover {
  transform: var(--transform-default);
}

.contact-links a:hover path {
  fill: var(--pink-accent-color-hover);
}

.contact-links path {
  fill: var(--medium-gray-color);
}

.contact-links a {
  display: inline-flex;
  flex-basis: auto;
  padding: 8px;
  margin: 8px;
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(170, 167, 170, .2);
  text-decoration: none;
}

.contact-links a:not(:last-child) {
  margin-right: 1rem;
}

/* FOOTER */

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: var(--dark-blue);
  color: white;
}

.footer > .center-column {
  justify-content: center;
  padding: .5rem;
  text-align: center;
}

@media screen and (max-width: 767px) {
  section {
    min-height: calc(100vh - 4rem);
  }

  /* Nav Section*/

  .menu-toggle {
    position: absolute;
    top: 0;
    right: 10px;
    display: inline;
    padding: 0 10px;
    cursor: pointer;
    vertical-align: center;
  }

  .menu-toggle > svg {
    vertical-align: middle;
  }

  nav:not(.nav--sticky) {
    display: none;
  }

  nav .nav-inner {
    flex-grow: 1;
    flex-wrap: nowrap;
    font-size: 1.4rem;
  }

  .nav-page-link {
    overflow: hidden;
    padding: 0 .5rem;
    margin: auto;
    text-align: center;
  }

  /* Sticky Nav*/

  nav.nav--sticky {
    line-height: 4rem;
  }

  nav.nav--sticky .title {
    padding: 0 1rem;
  }

  .nav--sticky .nav-page-link {
    flex-basis: 100%;
    padding: 0;
  }

  .nav--sticky .nav-page-link:hover:not(title) {
    background-color: rgb(250, 250, 250);
  }

  .nav--sticky[aria-expanded="false"] .nav-page-link {
    display: none;
  }

  [aria-expanded="true"] .nav-page-link {
    display: block;
    text-align: center;
  }

  [aria-expanded="true"] .title {
    border-bottom: 1px solid rgb(237, 230, 230);
  }

  nav.nav--sticky .nav-inner {
    flex-wrap: wrap;
    margin: 0;
  }

  /*TOP SECTION*/
  .welcome-section {
    min-height: 100vh;
  }

  .welcome-section {
    display: grid;
    align-items: center;
    grid-template-rows: unset;
  }

  .welcome-section .content-inner {
    grid-row: 1 / 2;
    grid-template-rows: minmax(300px, 2fr) 1fr;
    justify-items: center;
  }

  .welcome-section > .title {
    display: none;
  }

  nav {
    z-index: 1;
    width: 100%;
    font-size: 1.2rem;
    grid-column-end: -1;
    grid-column-start: 1;
    grid-row-start: -2;
  }

  /* About */
  .icons-grid {
    justify-content: center;
  }
}
