* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  margin: 0px;
  padding: 0px;
  background: #f9f7f6;
  color: #404d5b;
  font-weight: 300;
  font-size: 1em;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
}

ul {
  list-style: none;
}

h1 {
  padding-bottom: 2rem;
}

/* THEME COLORS */

/* MAUVE */
.color-1 {
  color: rgba(65, 65, 103, 1);
}
.background-1 {
  background-color: rgba(65, 65,103, 1);
}

.color-2 {
  color: rgba(90, 97, 117, 1);
}

.background-2 {
  background-color: rgba(90, 97, 117, 1);
}

.color-3 {
  color: rgba(236, 221, 145, 1);
}

.background-3 {
  background-color: rgba(255, 222, 166, 1);
}


.color-4 {
  color: rgba(215, 196, 168, 1);
}

.background-4 {
  background-color: rgba(215, 196, 168, 1);
}

/* GRAY */
.color-5 {
  color: rgba(170, 167, 170, 1);
}

.background-5 {
  background-color: rgba(170, 167, 170, 1);
}

/* DARK PURPLE */

.color-6 {
  color: rgba(63, 63, 99, 1);
}

.background-6 {
  background-color: rgba(63, 63, 99, 1);
}

/* DARK BLUE */
.color-7 {
  color: rgba(32, 47, 90, 1);
}

.background-7 {
  background-color: rgba(32, 47, 90, 1);
}

/* LIGHT BLUE */
.color-8 {
  color: rgba(96, 141, 210, 1);
}

.background-8 {
  background-color: rgba(96, 141, 210, 1);
}

/* HOVER STYlES */
.lex-hoverable {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
}
.lex-hoverable:hover {
  color: rgba(0, 0, 0, 0.6);
}
.lex-hoverable:active {
  color: rgba(0, 0, 0, 0.8);
}

.active-class {
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(3, 8, 28, 0.1);
}

/* LAYOUT */

.center-column {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */

.header {
  font-size: 1.2rem;
  position: absolute;
  top: calc(100vh - 6rem);
  /* background: rgba(255, 255, 255, 0); */
  width: 100%;
}
.header-inner {
  display: flex;
  justify-content: center;
}

.header-item {
  cursor: pointer;
  line-height: 3rem;
}

.header .title {
  display: none;
  flex-shrink: 0;
}

.lex-page-link {
  padding: 0 1em;
  overflow: hidden;
  font-weight: 400;
  /* font-size: 1.2rem; */
  color: rgba(0, 0, 0, 0.5);
  /* color: rgba(89, 71, 121, 1); */
}

.header.stuck-to-top {
  background-color: white;
  top: 0;
  font-size: 1rem;
  position: fixed;
  z-index: 1;
  box-shadow: 1px 1px 1px rgba(10, 10, 10, 0.3);
}

.header.stuck-to-top .header-inner {
  justify-content: flex-end;
}
/* .header.stuck-to-top .btn {
  align-self: flex-end;
} */

.header.stuck-to-top .title {
  margin-left: 1rem;
  display: block;
  flex-grow: 1;
  font-weight: 600;
  text-transform: uppercase;
}

/* TOP SECTION */


.about {
  background-color: rgba(90, 97, 117, .1);
  position: absolute;
  margin: -1em;
  font-size: 4rem;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-content {
  position: absolute;
  /* background-color: rgba(130, 140, 171, .2); */
  border-radius: 1rem;
  padding: 1rem;
  width: 400px;
  height: 400px;
}

.hero-image-container {
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.hero-content img {
  overflow: hidden;
}

.hero-content h2 {
}


#particles-js {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

/* .particles {
  position: relative;
  height: 100vmax;
} */

.top-section-title {
  position: absolute;
  margin: 1rem;
  top: 0;
  left: 1rem;
  font-size: 4rem;
}

.top-section img {
  max-width: 100%;
  width: 100%;
  display: block;
}

/* SECTIONS */

.section {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.section .center-column {
  padding: 5rem 0 3rem 0;
}

.section:nth-child(even) {
  background: #fff;
}
.section:nth-child(odd) {
  background: #eee;
}


/* Contact Section */
.contact-section .center-column {

}

.contact-section .center-column h1 {
  align-self: flex-start;
}

/* PROJECTS */
.projects-box {
  max-width: 1080px;
  margin: auto;
}
.project-container {
  display: flex;
  flex-direction: row;
}

.project-logo {
  background: #ffffff;
  max-width: 300px;
}

.project-logo {
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

/* FOOTER */
.footer {
  /* align-self: flex-end; */
  /* background: rgba(0,0,0,0.8); */
  color: white;
  /* margin-top: -100%; */
  width: 100%;
  position:absolute;
  bottom: 0;
}
.footer .center-column {
  line-height: 3rem;
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
}

/* TEST */

.test-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* or space-around */
}

.item {
  display: inline-block;
  margin-bottom: 8px;
  flex-basis: 100%;
  flex-grow: 1;
  text-decoration: none;
  color: black;
  padding: 1rem;
  /* background: white; */
}

@media screen and (min-width: 450px) {
  .item {
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 650px) {
  .item {
    flex-basis: 33%;
    max-width: 33%;
  }
}

.item:hover img {
  transform: scale(1.05);
}

figure {
  background: white;
  border: 1px solid rgba(170, 167, 170, 0.3);
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(170, 167, 170, .2);
  margin: 0;
  overflow: hidden;
  position: relative;
}

figure div {
  background: orange;
  height: 500px;
  width: 500px;
  margin: -100px;

  transform: translate(-200px, -100px) rotate(-20deg);
}

figcaption {
  padding: 1rem;
  margin-top: 3px;
}

figure img {
  border: none;
  max-width: 100%;
  width: 100%;
  display: block;
  background: #ffff;
  transition: transform 0.2s ease-in-out;
}


figure img:hover {
  background-color: rgba(170, 167, 170, 0.8);
}

i {
  font-size: 100px;
  color: salmon;
}
