* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  margin: 0px;
  padding: 0px;
  background: #f9f7f6;
  color: rgba(68, 73, 88, 1);
  font-weight: 300;
  font-size: 1em;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
}

ul {
  list-style: none;
}

h1 {
  padding-bottom: 2rem;
}

/* THEME COLORS */

/* DARK-GRAY */
.color-1 {
  color: rgba(68, 73, 88, 1);
}
.background-1 {
  background-color: rgba(68, 73, 88, 1);
}

/* LIGHT-BLUE-GRAY */
.color-2 {
  color: rgba(90, 97, 117, 1);
}

.background-2 {
  background-color: rgba(90, 97, 117, 1);
}

/* YELLOW-GOLD */

.color-3 {
  color: rgba(255, 203, 115, 1);
}

.background-3 {
  background-color: rgba(255, 203, 115, 1);
}

/* ORANGE */

.color-4 {
  color: rgba(244, 125, 49, 1);
}

.background-4 {
  background-color: rgba(244, 125, 49, 1);
}

/* MUTED-YELLOW */
.color-5 {
  color: rgba(255, 222, 166, 1);
}

.background-5 {
  background-color: rgba(255, 222, 166, 1);
}

/* TEAL */

.color-6 {
  color: rgba(85, 194, 187, 1);
}

.background-6 {
  background-color: rgba(85, 194, 187, 1);
}

/* DARK BLUE */
.color-7 {
  color: rgba(32, 47, 90, 1);
}

.background-7 {
  background-color: rgba(32, 47, 90, 1);
}

/* LIGHT BLUE */
.color-8 {
  color: rgba(96, 141, 210, 1);
}

.background-8 {
  background-color: rgba(96, 141, 210, 1);
}

/* HOVER STYlES */
.lex-hoverable {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
}
.lex-hoverable:hover {
  color: rgba(0, 0, 0, 0.6);
}
.lex-hoverable:active {
  color: rgba(0, 0, 0, 0.8);
}

.active-class:not(.title) {
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(3, 8, 28, 0.1);
}

/* LAYOUT */

.center-column {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem;
}

/* HEADER */

.header {
  font-size: 1.2rem;
  margin-top: calc(100vh - 6rem);
  margin-bottom: 2rem;
  width: 100%;
  z-index: 1;
}

.header-inner {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  justify-content: center;
}

.header-item {
  cursor: pointer;
  line-height: 3rem;
}

.header .title {
  display: none;
  flex-shrink: 0;
  color: #3945a2;
  color: black;
}

.lex-page-link {
  padding: 0 1em;
  overflow: hidden;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.header.stuck-to-top {
  background-color: white;
  margin-top: 0;
  font-size: 1rem;
  position: fixed;
  z-index: 1;
  box-shadow: 1px 1px 1px rgba(10, 10, 10, 0.3);
}

.header.stuck-to-top .header-inner {
  justify-content: flex-end;
}

.header.stuck-to-top .title {
  margin-left: 1rem;
  display: block;
  flex-grow: 1;
  font-weight: 600;
  text-transform: uppercase;
}

.header.hamburger .header-inner {
  flex-wrap: wrap;
}

.menu-toggle {
  position: absolute;
  display: none;
}

.header.hamburger.stuck-to-top .menu-toggle {
  display: block;
}

.header.hamburger .header-inner .lex-page-link {
  flex-basis: 100%;
}

.header.hamburger.stuck-to-top .header-inner .lex-page-link {
  display: none;
}

.header.hamburger.is-open .header-inner .lex-page-link {
  display: block;
}

/* TOP SECTION */

.top-section {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  overflow: hidden;
}

.hero-content {
  margin-top: 150px;
  position: absolute;
  /* background-color: rgba(130, 140, 171, .2); */
  border-radius: 1rem;
  padding: 1em;
  width: 400px;
  height: 400px;
}

.hero-image-container {
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.hero-content h2 {
  margin-top: 1em;
}

#particles-js {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

/* .particles {
  position: relative;
  height: 100vmax;
} */

.top-section-title {
  position: absolute;
  margin: 1rem;
  top: 0;
  left: 1rem;
  font-size: 4rem;
}

.top-section img {
  margin: auto;
  max-width: 80%;
  width: 800%;
  display: block;
  overflow: hidden;
  /* border-radius: 180px; */
  /* border: 1px solid rgba(10, 10, 10, 0.3); */
  /* box-shadow: 1px 1px 2px 2px rgba(10, 10, 10, 0.3); */
  box-shadow: none;
  border: none;
  border-radius: 10%;
  margin: 0 25px 25px 25px;
  filter: none;
}

/* SECTIONS */

.section {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.section .center-column {
  padding: 5rem 0 3rem 0;
}

.section:nth-child(even) {
  background: #eee;
}
.section:nth-child(odd) {
  background: #fff;
}

/* PROJECTS */

.projects-box {
  max-width: 800px;
  margin: auto;
}
.project-container {
  display: flex;
  flex-direction: row;
}

.project-logo {
  background: #ffffff;
  max-width: 500px;
}

.project-logo {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

/* TEST */

.item-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* or space-around */
}

.item {
  display: inline-block;
  margin-bottom: 8px;
  flex-basis: 300px;
  flex-grow: 3;
  text-decoration: none;
  color: black;
  padding: 1rem;
  /* background: white; */
}

@media screen and (min-width: 450px) {
  .item {
    flex-basis: 33%;
    max-width: 50%;
  }
}

@media screen and (min-width: 650px) {
  .item {
    flex-basis: 33%;
    max-width: 50%;
  }
}

figure {
  background: white;
  border: 1px solid rgba(170, 167, 170, 0.3);
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(170, 167, 170, 0.2);
  margin: 0;
  overflow: hidden;
  position: relative;
}

figure div {
  background: orange;
  height: 500px;
  width: 500px;
  margin: -100px;

  transform: translate(-200px, -100px) rotate(-20deg);
}

figcaption {
  padding: 1rem;
  margin-top: 3px;
}

figure img {
  border: none;
  max-width: 100%;
  width: 100%;
  display: block;
  background: #ffff;
  transition: transform 0.2s ease-in-out;
}

figure img:hover {
  background-color: rgba(170, 167, 170, 0.8);
  transform: scale(1.05);
}

/* ABOUT */

.about {
  background-color: rgba(90, 97, 117, 0.1);
  position: absolute;
  margin: -1em;
  font-size: 4rem;
}

.about-content {
  max-width: 800px;
  margin: auto;
}

.about-content span {
  line-height: 20px;
}

.about-section h3 {
  padding-top: 2em;
}

.about-section .icons-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  /* display: grid;
  max-width: 640px;
  grid-template-rows: repeat(8, 1fr);
  grid-auto-rows: minmax(60px, auto);
  grid-row-gap: 1em;
  grid-column-gap: 1em; */
  /* margin: auto; */
  /* padding-left: 20px;
  padding-right: 30px; */
}

.about-section .center-column .icon:before {
  text-align: center;
}

.about-section .icon {
  font-size: 55px;
  color: #daa25a;
  padding: 3px;
}

.about-section .interests {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.about-section .interests-item {
  padding-right: 15px;
  padding-left: 15px;
}

/* CONTACT */
.contact-section .center-column {
}

.contact-section .center-column h1 {
}

.contact-section h2 {
  font-size: 1.5rem;
  margin: 2rem 0rem 2rem 0rem;
  text-align: center;
}

.contact-links {
  display: flex;
  max-width: 600px;
  margin: auto;
  justify-content: center;
  margin-top: 1rem;
  flex-wrap: wrap;

  /* align-self: center; */
}

/* #github a:hover path {
  fill: #0000;
} */

.contact-links a:hover path {
  opacity: 0.8;
}

.contact-links a {
  display: inline-flex;
  flex-basis: auto;
  padding: 8px;
  margin: 8px;
  background: rgba(255, 255, 255, 1);
  text-decoration: none;
  border-radius: 10px;
  /* box-shadow: 2px 2px 1px 0.5px rgba(87, 87, 87, 0.2); */
}

.contact-links a:not(:last-child) {
  margin-right: 1rem;
}

/* FOOTER */
.footer-container {
  position: relative;
  height: 0;
  width: 100%;
}
.footer {
  color: white;
  left: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.footer .center-column {
  margin-bottom: 1rem;
  padding: 0.5rem;
  text-align: center;
  justify-content: center;
}
