* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  position: relative;
  height: auto;
  min-height: 100%;
  padding: 0;
  margin: 0;
  color: rgba(68, 73, 88, 1);
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

h1 {
  padding-bottom: 2rem;
}

/* THEME COLORS */

/* DARK-GRAY */
.color-1 {
  color: rgba(68, 73, 88, 1);
}

.background-1 {
  background-color: rgba(68, 73, 88, 1);
}

/* LIGHT-BLUE-GRAY */
.color-2 {
  color: rgba(90, 97, 117, 1);
}

.background-2 {
  background-color: rgba(90, 97, 117, 1);
}

/* YELLOW-GOLD */

.color-3 {
  color: rgba(255, 203, 115, 1);
}

.background-3 {
  background-color: rgba(255, 203, 115, 1);
}

/* ORANGE */

.color-4 {
  color: rgba(244, 125, 49, 1);
}

.background-4 {
  background-color: rgba(244, 125, 49, 1);
}

/* MUTED-YELLOW */
.color-5 {
  color: rgba(255, 222, 166, 1);
}

.background-5 {
  background-color: rgba(255, 222, 166, 1);
}

/* TEAL */

.color-6 {
  color: rgba(85, 194, 187, 1);
}

.background-6 {
  background-color: rgba(85, 194, 187, 1);
}

/* DARK BLUE */
.color-7 {
  color: rgba(46, 66, 125, 1);
}

.background-7 {
  background-color: rgba(46, 66, 125, 1);
}

/* LIGHT BLUE */
.color-8 {
  color: rgba(96, 141, 210, 1);
}

.background-8 {
  background-color: rgba(96, 141, 210, 1);
}

/* HOVER STYlES */
.lex-hoverable {
  color: rgba(0, 0, 0, .4);
  cursor: pointer;
}

.lex-hoverable:hover {
  color: rgba(90, 97, 117, .7);
}

.lex-hoverable:active {
  color: rgba(90, 97, 117, .7);
}

.active-class:not(.title) {
  background-color: rgba(3, 8, 28, .1);
  color: rgba(0, 0, 0, .6);
}

/* LAYOUT */

.center-column {
  max-width: 800px;
  padding: 5rem;
  margin-right: auto;
  margin-left: auto;
}

/* SECTIONS */

.section {
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
}

.section .center-column {
  padding: 5rem 0 3rem 0;
}

.section:nth-child(even) {
  background: #fff;
}

.section:nth-child(odd) {
  /* background: #eee; */
  background-color: rgb(235, 238, 245);
}

/* HEADER */

.header {
  z-index: 1;
  width: 100%;
  margin: 75px 0;
  font-size: 1.2rem;
  grid-column-start: 3;
  grid-row-start: -1;
}

.header-inner {
  display: flex;
  max-width: 800px;
  justify-content: center;
  margin: 0 auto;
}

.header-item {
  cursor: pointer;
  line-height: 3rem;
}

.header .title {
  display: none;
  flex-shrink: 0;
  color: rgb(46, 66, 125);
}

.lex-page-link {
  overflow: hidden;
  padding: 0 1rem;
  color: rgba(90, 97, 117, 1);
  font-size: 1.5rem;
  font-weight: 400;
}

.header.stuck-to-top {
  position: fixed;
  z-index: 1;
  margin-top: 0;
  background-color: white;
  box-shadow: 1px 1px 1px rgba(46, 66, 125, .3);
  font-size: 1rem;
}

.header.stuck-to-top .header-inner {
  justify-content: flex-end;
}

.header.stuck-to-top .title {
  display: block;
  flex-grow: 1;
  margin-left: 1rem;
  color: rgb(46, 66, 125);
  font-weight: 600;
  text-transform: uppercase;
}

.header.stuck-to-top .lex-page-link {
  font-size: 1rem;
}

.header.hamburger .header-inner {
  flex-wrap: wrap;

  /* padding: 1rem; */
}

.menu-toggle {
  position: absolute;
  display: none;
}

.header.hamburger.stuck-to-top .menu-toggle {
  display: block;
  margin-top: 5px;
}

.header.hamburger .header-inner .lex-page-link {
  flex-basis: 100%;
}

.header.hamburger.stuck-to-top .header-inner .lex-page-link {
  display: none;
}

.header.hamburger.is-open .header-inner .lex-page-link {
  display: block;
  border: solid 1px rgba(90, 97, 117, .2);
  text-align: center;
}

/* TOP SECTION */

.welcome-section {
  display: grid;
  background: linear-gradient(
    to bottom right,
    rgba(255, 203, 115, 1) 20%,
    rgba(255, 222, 166, 1) 100%
  );
  grid-gap: 5px;
  grid-template-columns: 1px 1fr minmax(250px, 500px) 1fr;
  grid-template-rows: 1px minMax(50px, 100px) 1fr minmax(250px, 350px) 1fr;
}

.welcome-section-title {
  margin: 75px 0 0 75px;
  font-size: 4rem;
  grid-column: 2 / 4;
  grid-row: 2 / 4;
}

.hero-content {
  display: flex;
  width: 400px;
  height: 400px;
  margin-top: 125px;
  border-radius: 1rem;
  grid-column-start: 3;
  grid-row-start: 3;
}

/* .hero-image-container {
  display: flex;
  max-width: 100%;
  display: grid;
  height: calc(100vh - 23rem);
  position: relative;
} */

#hero-img {
  position: relative;
  display: block;
  overflow: hidden;
  max-width: 55%;
  margin: auto;

  /* height: calc(100vh - 23rem); */
  border: 5px solid rgba(90, 97, 117, .5);
  border-radius: 100%;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.hero-h2 {
  grid-column-start: 3;
  grid-row-start: 5;
  text-align: center;
}

#particles-js {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

/* PROJECTS */

.projects-box {
  max-width: 800px;

  /* margin: auto; */
  margin-bottom: 3rem;
}

/* .project-container {
  display: flex;
  flex-direction: row;
} */

.project-logo {
  max-width: 400px;
  background: #fff;
}

.project-logo {
  position: relative;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

figure {
  /* display: inline-block; */
  position: relative;
  overflow: hidden;
  margin: 0;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(170, 167, 170, .2);
}

/* figure div {
  background: orange;
  height: 200px;
  width: 500px;
  margin: -100px;

  transform: translate(-200px, -100px) rotate(-20deg);
} */

figcaption {
  padding: 1rem 1rem 0 1rem;
  margin-top: 3px;
  white-space: pre-line;
}

figure img {
  max-width: 100%;
  border: none;

  /* width: 100%; */

  /* display: block; */
  background: #ffff;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  vertical-align: middle;
}

figure img:hover {
  overflow: hidden;
  -webkit-transform: scale(1.1); /* Safari and Chrome */
  -moz-transform: scale(1); /* Firefox */
  -ms-transform: scale(1.1); /* IE 9 */
  -o-transform: scale(1.1); /* Opera */
  transform: scale(1.1);
}

.item-parent {
  display: grid;
  padding: 15px;
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  grid-template-columns: minmax(150px, 400px) minmax(150px, 400px);
  grid-template-rows: repeat(autofill, minMax(200px, 1fr));
}

.item {
  /* margin-bottom: 8px; */

  /* flex-basis: 300px;
  flex-grow: 3; */

  /* text-decoration: none; */
  color: rgba(68, 73, 88, 1);

  /* padding: 1rem; */

  /* background: white; */
}

.project-links {
  display: grid;
  grid-template-columns: repeat(auto-fill, 4rem);
}

.project-links a {
  padding: 0 10px;
}

/* ABOUT */

.about {
  position: absolute;
  margin: -1em;
  background-color: rgba(90, 97, 117, .1);
  font-size: 4rem;
}

.about-content {
  max-width: 800px;
  margin: auto;
}

.about-content span {
  line-height: 20px;
}

.about-section h3 {
  padding-top: 2em;
}

.about-section .icons-grid {
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(70px, 1fr));
}

.about-section .icon {
  padding: 3px;
  /* border: 1px red solid; */
  color: rgb(46, 66, 125);
  font-size: 60px;
}

.about-section .interests {
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

/* .about-section .interests-item:not(:last-child) {
  padding-right: 25px;
} */

.about-section .interests-item {
  padding-right: 25px;
}

/* CONTACT */
.contact-section .center-column {
}

.contact-section .center-column h1 {
}

.contact-section h2 {
  margin: 2rem 0 2rem 0;
  font-size: 1.5rem;
  text-align: center;
}

.contact-links {
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 1rem;
}

/* #github a:hover path {
  fill: #0000;
} */

.contact-links a:hover path {
  opacity: .8;
}

.contact-links a {
  display: inline-flex;
  flex-basis: auto;
  padding: 8px;
  margin: 8px;
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(170, 167, 170, .2);
  text-decoration: none;
}

.contact-links a:not(:last-child) {
  margin-right: 1rem;
}

/* FOOTER */
.footer-container {
  position: relative;
  width: 100%;
  height: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
}

.footer .center-column {
  justify-content: center;
  padding: .5rem;
  margin-bottom: 1rem;
  text-align: center;
}

/*MEDIA QUERIES */

/* @media screen and (min-width: 450px) {
  .item {
    flex-basis: 33%;
    max-width: 50%;
  }
} */

@media screen and (max-width: 767px) {
  .header.hamburger .header-inner {
    flex-wrap: nowrap;
  }

  .header.hamburger .header-inner {
    flex-wrap: nowrap;
    margin: 0 1.2rem 0 1.2rem;
    font-size: 1.4rem;
  }

  .header.stuck-to-top .header-inner {
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0;
  }

  .header.stuck-to-top .lex-page-link {
    padding: 0;
  }


  .lex-page-link {
    overflow: hidden;
    padding: 0;
    color: rgba(90, 97, 117, 1);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
  }

  .section .center-column {
    padding: 5rem 1rem 3rem 1rem;
  }

  /*TOP SECTION*/
  .welcome-section {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1px 1fr 1px;
    grid-template-rows: 1px 100px minmax(150px, 275px) .5fr .5fr;
  }

  .welcome-section-title {
    position: inherit;
    padding-top: 50px;
    font-size: 3rem;
    grid-column-start: 2;
    grid-row: 2 / 3;
    position: absolute;
    top: 0;
    left: 1rem;
    margin: auto;
    font-size: 3rem;
  }

  #hero-img {
    position: relative;
    display: block;
    overflow: hidden;
    max-width: 60%;
    border: 5px solid rgba(90, 97, 117, .5);
    border-radius: 100%;
    grid-column: 2 / 2;
    grid-row: 3 / 4;
  }

  .hero-h2 {
    padding: 30px;
    grid-column-start: 2;
    grid-row-start: 4;
  }

  .header {
    z-index: 1;
    width: 100%;
    margin: 25px 0 75px 0;
    font-size: 1.2rem;
    grid-column-end: -1;
    grid-column-start: 1;
    grid-row-start: -2;
  }

  /*PROJECTS*/

  .item-parent {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* or space-around */
    display: grid;
    grid-row-gap: 1.5em;
    grid-template-columns: minmax(100px, 400px);
    grid-template-rows: repeat(autofit, minMax(200px, 1fr));
  }

  .item {
    color: rgba(68, 73, 88, 1);
  }

  /* About */
  .about-section h3 {
    padding-top: 1em;
  }

  .about-section .icons-grid {
    display: grid;
    grid-column-gap: .5em;
    grid-row-gap: .5em;
    grid-template-columns: repeat(4, minmax(40px, 1fr));
    grid-template-rows: repeat(4, minmax(40px, 1fr));
  }

  .about-section .icon {
    padding: 3px;
    color: rgb(46, 66, 125);
    font-size: 40px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 900px) {
  .welcome-section {
    display: grid;
    background: linear-gradient(
      to bottom right,
      rgba(255, 203, 115, 1) 20%,
      rgba(255, 222, 166, 1) 100%
    );
    grid-gap: 5px;
    grid-template-columns: 1px 1fr minmax(250px, 500px) 1fr;
    grid-template-rows: 1px minMax(50px, 100px) 1fr minmax(250px, 350px) 1fr;
  }

  .welcome-section-title {
    margin-top: 5rem;
    font-size: 4rem;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }

  #hero-img {
    position: relative;
    display: block;
    overflow: hidden;
    max-width: 50%;
    margin: auto;
    border: 5px solid rgba(90, 97, 117, .5);
    border-radius: 100%;
    grid-column: 3 / 4;
    grid-row: 4 / 5;
  }

  .hero-h2 {
    grid-column-start: 3;
    grid-row-start: 5;
  }

  .section {
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
  }

  .header {
    z-index: 1;
    width: 100%;
    padding-bottom: 75px 0;
    font-size: 1.2rem;
    grid-column-start: 3;
    grid-row-start: -1;
  }
}
