/* Coolors Exported Palette - coolors.co/828cab-5a6175-ffdea6-d7c4a8-aaa7aa */

/* HSL */
$color1: hsla(225%, 20%, 59%, 1);
$color2: hsla(224%, 13%, 41%, 1);
$color3: hsla(38%, 100%, 83%, 1);
$color4: hsla(36%, 37%, 75%, 1);
$color5: hsla(300%, 2%, 66%, 1);

/* RGB */
$color1: rgba(130, 140, 171, 1);
$color2: rgba(90, 97, 117, 1);
$color3: rgba(255, 222, 166, 1);
$color4: rgba(215, 196, 168, 1);
$color5: rgba(170, 167, 170, 1);
$color6: rgba(63, 63, 99, 1);
