/* Coolors Exported Palette - coolors.co/828cab-5a6175-ffdea6-d7c4a8-aaa7aa */

/* HSL */
.color-1 {
  color: rgba(130, 140, 171, 1);
}
.background-1 {
  background-color: rgba(130, 140, 171, 1);
}

.color-2 {
  color: rgba(90, 97, 117, 1);
}

.background-2 {
  background-color: rgba(90, 97, 117, 1);
}

.color-3 {
  color: rgba(255, 222, 166, 1);
}

.background-3 {
  background-color: rgba(255, 222, 166, 1);
}

.color-4 {
  color: rgba(215, 196, 168, 1);
}

.background-4 {
  background-color: rgba(215, 196, 168, 1);
}

.color-5 {
  color: rgba(170, 167, 170, 1);
}

.background-5 {
  background-color: rgba(170, 167, 170, 1);
}

.color-6 {
  color: rgba(63, 63, 99, 1);
}

.background-6 {
  background-color: rgba(63, 63, 99, 1);
}
/* RGB */
$color1: rgba(130, 140, 171, 1);
$color2: rgba(90, 97, 117, 1);
$color3: rgba(255, 222, 166, 1);
$color4: rgba(215, 196, 168, 1);
$color5: rgba(170, 167, 170, 1);
$color6: rgba(63, 63, 99, 1);
